<div id = "fr_title">Friends</div>
<% user.friends.each do |friend| %>
  <% if friend.online?%>
    <li><%= link_to friend.name, "#", id: "fr_name" %></li>
  <%else%>
    <li id= "divider"></li>
    <li id='offline-friend'><%=friend.name%></li>
  <%end%>
<%end%>
<li><%= link_to "New", sessions_my_friend_path,
      remote: true,
      id: "new_fr_link"%>
</li>

