<blockquote>
  <div class= "pull-right" id="info">
    <span class= "glyphicon glyphicon-thumbs-up"></span>
  </div>
  <div id="graph_pad">
    <div id= "simple_success" style=width:20px;>
    </div>
  </div>
  <div class="pull-right" id="depend">
    <span class= "glyphicon glyphicon-star-empty"></span>
  </div>
  <div id="graph_pad">
    <div id= "dependability" style=width:50px;>
    </div>
  </div>
  <div class="pull-right" id="out">
    <span class="glyphicon glyphicon-fire"></span>
  </div>
  <div id="graph_pad">
    <div id="outstanding" style=width:70px;>
    </div>
  </div>
</blockquote>
