<div class="row" >
  <div class="col-md-3">
  </div>
  <div class="col-md-6">
    <blockquote>
      <div class= "pull-right" id="info">
        <span class= "glyphicon glyphicon-thumbs-up"></span>
      </div>
      <div id= "simple_success" style=width:20px;>
      </div>
      <div class="pull-right" id="depend">
        <span class= "glyphicon glyphicon-star-empty"></span>
      </div>
      <div id= "dependability" style=width:50px;>
      </div>
      <div class="pull-right" id="out">
        <span class="glyphicon glyphicon-fire"></span>
      </div>
      <div id="outstanding" style=width:70px;>
      </div>
    </blockquote>
  </div>
  <div class="col-md-3">
  </div>
</div>
