<div id= "pl_title"> Playlists</div>
<% user.playlists.each do |playlist|%>
  <div id="count">
    <span class="badge pull-right"><%=playlist.tracks.count%></span>
  </div>
  <div id="name_wrapper">
    <li><%= link_to playlist.name.titleize,
      sessions_my_playlist_path(playlist: playlist),
      remote: true,
      id: 'pl_link' %>
    </li>
  </div>
<% end %>
<li id="create-playlist">
  <%= link_to "Create Playlist",
    "#new-playlistModal", "data-toggle" =>"modal", id: "new_pl_link", 
    class: "btn btn-default btn-sm"%>
</li>

