<div id= "pl_title"> Playlists</div>
<% user.playlists.each do |playlist|%>
  <span class="badge pull-right"><%=playlist.tracks.count%></span>
  <li><%= link_to playlist.name.titleize,
    sessions_my_playlist_path(playlist: playlist),
    remote: true%>
  </li>
<% end %>
<li>
  <%= link_to "New", 
  new_user_playlist_path(user), id: "new_pl_link"%>
</li>

