<div class = "container">
  <div class="row">
    <div class="col-md-5" id= "user-widget" style=padding-top:5%;>
      <div id="sign_in">
        <h2>Playlist for now, playlist for then. 
        <h2></br>
        <%= link_to "Sign in with Rdio",
            'auth/rdio/',
            'class' => 'btn btn-primary btn-lg' %>
      </div>
    </div>
    <div class="col-md-5">
      
    </div>
  </div>
</div>
<div class = "col-md-12" id = "colored_footer" style="background-color:#efefef;height:100%;">
</div>

