  <div class="row-fluid">	
		<div class="span12">
		  <% if current_user %>
	      <div class= "well new_playlist">
		    <h1><%= link_to 'Make a new office playlist', new_playlist_path %></h1>
		    </div>
	    <% end %>
	  </div>
  </div>
  
  






