  <div class= 'row-fluid'>  
	  <div class="span1">
		</div>
		<div class="span5", id="playlist_list">
			<p class="lead">My Playlist</p>
	    <div class="well", id= "playlist_well">
	      <% if current_user %>
          <% @tracks.each do |title| %>
				    <h4 id="playlist_names"><%=link_to  title["name"].capitalize, title['embedUrl'],"id" => "playlist_names"%></br></h4>
				    <%  @songs = title["tracks"]%>
				    <%  @songs.each do |h| %>
				    <%= link_to h["name"].capitalize, h["embedUrl"] %></br>
		        <%= h["key"]%>
		        <%end%>
			    <%end%>
			  <%end%>
			</div>
		</div>
		<div class="span5", id="shared_playlist">
			<p class="lead">Shared Playlist</p>
			<div class="well", id="playlist_well">
		  </div>
		</div>
	</div>