<div class="row">
  <div class="groups_pg" id=current_page></div>
  <div class="groups" id="current_page"></div>
  <div class="col-md-12">
    <div class="panel panel-default" style="padding:5%;">
      <h3 id="my_groups_my">My</h3>
      <h3>Groups</h3>
      <% current_user.groups.each do |group| %>
        <div class="well"> 
          <h4><%=group.name%></h4>
          <%=link_to "Delete", user_group_path(current_user, group),  
            method: :delete, 'class' => 'btn btn-danger' %> 
        </div>
      <%end%>
    </div>
  </div>
</div>
