<div class="row">
  <div class="col-md-1">
  </div>
  <div class="col-md-10">
    <h2 id="group_description">A group is a place to add friends and playlists. 
      Group members can add playlists and vote on each others tracks.
    </h2>
  </div>
  <div class="col-md-1">
  </div>
</div> 
<div class="row">
    </div>
  <div class="col-md-4">
	</div>	
	<div class= "col-md-4 well", id= "new_playlist_form">
    <%=form_tag(controller: "groups", action: "create", user_id: current_user.id)%>
    <h4>Name</h4>
    <%=text_field_tag(:name, nil, :placeholder => "Name that group!")%>
    <div class="new_group_btn">
      <%=submit_tag "create group", 'class' => 'btn btn-primary' %>
    </div>
  </div>
	<div class="col-md-4">
	</div>
</div>
