<div class="analytics" id="current_page"></div>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div id = "graph">
        <%= render "graph" %>
      </div>
    </div>
  </div>
</div>

