  <div class="row-fluid">
	  <div class="span4">
		</div> 
	  <div class="span4">
	  	<div id="buddy_image">
        <%= image_tag @user.image, 'id' => 'friend_show_image', 'class' => 'img-circle' %>
      </div>
    </div>
    <div class="span4">
		</div>
	<div class= "row-fluid">
	  <div class="span12 well">
		  <h2 id="buddy_name_title"><%=@user.name.capitalize%></h2>
		  <h2 id="friends_playlist">Playlists</h2>
		  <h2 id="friends_tracks">Tracks</h2>
		  <% @user.playlists.each do |t|%>
		  <div class= "well">
		    <h4 id="buddy_name"><%=link_to t.name, playlist_path, :id => t.id %></h4>
		    <h4 id="buddy_track_count"><%= t.tracks.count%></h4>
		  </div>
		  <%end%>
		</div>
	</div>
  </div>