  <div class="row-fluid">
	<div class= "row-fluid">
	  <div class="span12 well">
		  <h2 id="buddy_name_title"><%=@user.name.capitalize%></h2>
		  <h2 id="friends_playlist">Playlists</h2>
		  <h2 id="friends_tracks">Tracks</h2>
		  <% @user.playlists.each do |t|%>
		  <div class= "well">
        <h4 id="buddy_name"><%=link_to t.name, :controller => "playlists", 
          :action =>"show", :id => t.id, 
          :friend_view => "#{@friend_view}" %></h4>
		    <h4 id="buddy_track_count"><%= t.tracks.count%></h4>
		  </div>
		  <%end%>
		</div>
	</div>
  </div>
