<head>
<script src="https://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js"></script>
<style type="text/css">
div.col-md-1#sound{
  max-height: 100px;
  background-color: #efefef;
}
#upshell div {
  display:none;
}
</style>

</head>

<h1>Rdio Web playback</h1>
<div id="apiswf"></div>
<dl>
  <dt>playState</dt>
  <dd id="playState"></dd>

  <dt>track</dt>
  <dd id="track"></dd>
  <dt>album</dt>
  <dd id="album"></dd>
  <dt>artist</dt>
  <dd id="artist"></dd>
  <dt>art</dt>
  <dd><img src="" id="art"></dd>
  <dt>position</dt>
  <dd id="position"></dd>
</dl>

  <input type="hidden" id="play_key" value="a997982"><button id="play">Play</button><br>
  <button id="stop">Stop</button>
  <button id="pause">Pause</button>
  <button id="previous">Previous</button>
  <button id="next">Next</button>
  
  <div class="row" id="freq">
    <div class="col-md-1" id="none"></div>
    <div class="col-md-1" id="sound"></div>
    <div class="col-md-1" id="sound"></div>
    <div class="col-md-1" id="sound"></div>
    <div class="col-md-1" id="sound"></div>
    <div class="col-md-1" id="sound"></div>
    <div class="col-md-1" id="sound"></div>
    <div class="col-md-1" id="sound"></div>
    <div class="col-md-1" id="sound"></div>
    <div class="col-md-1" id="sound"></div>
    <div class="col-md-1" id="sound"></div>
    <div class="col-md-1" id="none"></div>
  </div>
