/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *= require bootstrap
 *= require_tree .
 */

@font-face {
  font-family: 'Glyphicons Halflings';
  src: font-url('glyphicons-halflings-regular.eot');
  src: font-url('glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), 
  font-url('glyphicons-halflings-regular.woff') format('woff'), 
  font-url('/glyphicons-halflings-regular.ttf') format('truetype'), 
  font-url('/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}


/*Sass variables and mixins */
$color_body: #606a7a;
$shadow: 0 0 8px rgba(0, 0, 0, .8);
$shadow_light: 1px 1px 1px lighten($color_body, 30%);
@mixin box-shadow($specs) {
  -webkit-box-shadow: $specs;
     -moz-box-shadow: $specs;
          box-shadow: $specs;
}

/*body padding, backgrounds and page wide styles*/

.navbar-default{background-color: #efefef;}

a {color: #777777}

body {padding: 75px 0 150px 0;
}

li {list-style-type: none;}

#colored_body {padding-top: 200px;
}

#blur {position: fixed; 
       width: 100%;
       background-color: white;
       z-index: 900;
       height: 250; 
       margin-top: -100px;
       -webkit-filter: grayscale(0.5) opacity(0.8);

}
#white_top{background-color:transparent;
           position: fixed;
           z-index: 1000;
           text-align: center;
           width: 100%;

}


