/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {background-image:url('jukebox.jpg');}

div.notify {padding-top: 3%;
            opacity: 0.8;
}

div.alert.fade.in.alert {background-color: white;}

a:hover {text-decoration: none;}

div.well{background-color: white;
         border: solid 1px #DFF7F3;
         border-radius:5px;
         opacity: 0.8;
}


div.user_image {padding-top: 5%;
                padding-bottom: 10%;
}


#user_image {width: 100px;
     	  		 box-shadow: 0 0 8px rgba(0, 0, 0, .8);
						 -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
						 -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}

#make_playlist {padding: 2%;}

#make_friend {padding:2%;}

#make_playlist:hover {opacity: 0.4;}

#make_friend:hover {opacity: 0.4;}

