/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *= require groups
 *= require bootstrap
 *= require_self
 */

@font-face {
  font-family: 'Glyphicons Halflings';
  src: font-url('glyphicons-halflings-regular.eot');
  src: font-url('glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), 
  font-url('glyphicons-halflings-regular.woff') format('woff'), 
  font-url('/glyphicons-halflings-regular.ttf') format('truetype'), 
  font-url('/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}


/*Sass variables and mixins */
$color_body: #606a7a;
$shadow:  0 0 8px rgba(0, 0, 0, .8);
$shadow_light: 0 1px 2px rgba(0, 0, 0, .8);
@mixin box-shadow($specs) {
  -webkit-box-shadow: $specs;
     -moz-box-shadow: $specs;
          box-shadow: $specs;
}

//beta_link
div#beta-link a {color: #606a7a;}

/*body padding, backgrounds and page wide styles*/

.glyphicon{top:0px;}

.navbar-default{background-color: white;}

a:hover {text-decoration: none;
         color:#333333;
       }
a {color: #777777}

body {padding-bottom: 150px;
      background-color:#606a7a;
}

#colored_body {padding-top: 40px;
}
#white_top{background-color:white;
           padding-top:70px;
           box-shadow:$shadow_light;
}


