// Place all the styles related to the groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* "groups/new" */

#new_group_form{padding: 5%;}

#group_description{padding:2%;}

#new_group_btn{padding-top:10px;}

#new_group_btn {padding-top:10px;
                width: 100%;
}

#new_group_input {width: 100%;}

/* "groups/index" */

#my_groups_title{padding: 0 10px 20px 0;}

#groupships_title{color:#CAD0D5;
                  padding-right:10px;
}

#groupships_count{color: #CAD0D5;}
