// Place all the styles related to the groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*Sass variables*/

$dark_title: #CAD0D5;
$light_title: lighten($dark_title, 30%);
$shadow:  0 0 8px rgba(0, 0, 0, .8);
$shadow_light: 0 1px 2px rgba(0, 0, 0, .8);
$lighter_shadow: 0 0 4px(darken($dark_title, 30%));
$shadow_light: 0 1px 2px rgba(0, 0, 0, .8);

@mixin box-shadow($specs) {
  -webkit-box-shadow: $specs;
     -moz-box-shadow: $specs;
          box-shadow: $specs;
}

/*fades*/

/*groups/new*/

#new_group_form{padding: 5%;}

#group_description{padding:2%;}

#new_group_btn{padding-top:10px;}

#new_group_btn {padding-top:10px;
                width: 100%;
}

#new_group_input {width: 100%;}

/* groups/index */

#my_groups_title{padding: 0 10px 20px 0;}

#groupships_title{color:#CAD0D5;
                  padding-right:10px;
}

#groupships_count{color: #CAD0D5;}

/* my_group */

#pl_remove_glyph {padding-left: 30px;}

#member_name{padding-bottom: 20px;}

#gr_name{font-size: 24px;
         color: $dark_title;
         display: inline;
}

#gr_name_wrapper { color: $dark_title;
                  border-bottom: 1px solid #efefef;
}

#gp_members {border-left: solid 1px #efefef;
             padding: 1%;
             height: 100%;
             color: darken($dark_title, 30%);
}

#gr_delete {float: right;}

#members_title {font-size: 20px;
                color: $dark_title;
                padding-bottom: 10px;
}
/*group dashboard*/
//users_groups

#gp_title {font-size: 20px; 
           color: $dark_title;
           padding-top: 10px;
}

#gp_link {color: darken($dark_title, 30%);
          text-decoration: none;
}
#gp_link:hover {color: black;}

#new_gp_link {color: $dark_title;}
#new_gp_link:hover {color: black;}


#group_panel{padding:5%;}

#new_group{padding-bottom: 20px;}

#member_group {color:#9DABBA;}

li#group_owner{color:#F1A02D}

div.well#friends_groups{background-color:transparent; }

#members_glyph {font-size: 20px;}
#members_header {padding-bottom: 10px;
                 border-bottom: solid 1px #efefef;
                 width: 100px;
}
#member_name {padding: 5px 0 5px 0;}

//group_playlist
#pl_thumb_wrapper{height: 200px;
                  width: 100%;
                  overflow: auto; 
                  padding: 3%;
                  border: 1px solid $dark_title;
                  border-radius: 1px;
                  @include box-shadow($lighter_shadow);
}
#pl_thumb_wrapper:hover {border: 1px solid darken($dark_title, 10%);
}
#pl_thumb_name{font-size: 20px;
              color: $dark_title;
              border-bottom: 1px solid #efefef;
}
#tr_thumb_name {font-size: 12px;
                border-bottom: solid 1px #efefef;
}
#gp_playlists {color: darken($dark_title, 30%);
              padding-top: 10px;
}
