// Place all the styles related to the groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*Sass variables*/
$delete_red: red;
$light_title: #CAD0D5;
$dark_title: darken($light_title, 30%);
$shadow:  0 0 8px rgba(0, 0, 0, .8);
$lighter_shadow: 0 0 4px($dark_title );
$shadow_light: 0 1px 2px rgba(0, 0, 0, .8);

@mixin box-shadow($specs) {
  -webkit-box-shadow: $specs;
     -moz-box-shadow: $specs;
          box-shadow: $specs;
}

/*groups/new*/

#new_group_form{padding: 5%;}

#group_description{padding:2%;}

#new_group_btn{padding-top:10px;}

#new_group_btn {padding-top:10px;
                width: 100%;
}

#new_group_input {width: 100%;}

/* groups/index */

#my_groups_title{padding: 0 10px 20px 0;}

#groupships_title{color:#CAD0D5;
                  padding-right:10px;
}

#groupships_count{color: #CAD0D5;}

/* my_group */

#rm_group_glyph {padding: 3px;
                 border: solid 1px #efefef;
                 border-radius: 10px;
}

#pl_remove_glyph {padding-left: 30px;}

#member_name{padding-bottom: 20px;}

#gr_name{font-size: 24px;
         color: $light_title;
         display: inline;
}

#gr_name_wrapper { color: $light_title;
                  border-bottom: 1px solid #efefef;
}

#gp_members {border-left: solid 1px #efefef;
             padding: 1%;
             height: 100%;
             color: $dark_title;
}

#gr_delete {float: right;
            padding: 3px;
            border: solid 1px #efefef;
            border-radius: 10px;

}

#gr_delete:hover {background-color: #efefef;}

//users_groups

#members_glyph {font-size: 20px;}

#members_header {padding-bottom: 10px;
                 border-bottom: solid 1px #efefef;
                 width: 100px;
}
#member_name {padding: 5px 0 5px 0;}

//group_playlist

#gp_playlists {color: $dark_title;
              padding-top: 10px;
}

#group_pl_thumb {height: 200px;
                 width: 200px;
                 float:left;
                 margin: 0 20 30 0;

}

