// Place all the styles related to the playlists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.glyphicon{top:0px;}
/*carousel*/

#carousel_pad{padding:0 0 0 0;
}
#heavy_rotation {width: 812px;
                 display: inline;
}
#carousel_image{height:50px;}
img#carousel_image:hover{transform:scale(2,2); 
                         -webkit-transform: scale(2,2);
                        transition-duration: 2s;
}

/*search panel*/

#search_panel{padding:5%;}

#publish_button{style: text;}

#publish {
          padding-bottom: 10px;}

#publish_value {width: 50px;
 								height: 20px;
}

#add_to_collection {text-align: center;}

div.well.song_search{background:transparent;}


                 
#search_track_image{padding:2%; 
                    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
		                -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
		                -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);	
}

/*modal*/

#album_cover{width: 100%;}


#friends_list_title {float: left;}


#playlist_name {float: left;}

/* playlists new form*/

#popular_title{padding-bottom:40px;}

#playlist_new_panel{padding:5%;}

#playlist_names_carousel{padding-top: 40px;}

textarea#description {width: 100%;}

input#name {width: 100%;}

#new_playlist_btn {width: 100%;}

.new_playlist_btn {padding-top: 10px;}



h4#track_name{float: left;
							padding-right: 2%;
}



div#remove_button{float:left;}


#new_playlist_name{float:left;
}


											

#vote_count{text-align:right;}

h2#new_playlist_name {;
 									
}

h4#new_playlist_description {text-align: center}

#add{float:right;
}

/*jukebox swf object player*/

div#freq{float:right;
         padding-top: 30px;
         width: 500px;
         height:auto;
         opacity:0.6;
         margin-right:200px;
}
div#sound{background-color:#C2D1FF;
          float:left;
          height:10px;
          border-top: solid 1px #efefef;
          opacity: 0.4;
      
}
