// Place all the styles related to the playlists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#add_to_collection {text-align: center;}

div.well.song_search{background:transparent;}

iframe {float:left;
        height: 30px;
        width: 30px;
    
}

#search_track_name{text-align: center;
                 
}
#search_track_image{width:100%; 
                    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
		                -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
		                -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);	
}

#my{float:left;
    color: #929999;
}

#playlist_list_title {float:left;
                      padding-right: 2%;
}

#friends_list_title {float: left;}

#track_count_title {text-align: right;
                    color: #929999;
}

#playlist_name {float: left;}

#playlist_description {;}

#tracks_count {text-align: right;}

div.well.new_playlist {text-align: center;}

#search_songs_title{;}

div.span5#search_well{padding-top: 1%;
 										  height: 400px;
}

div.well.search_box{background:transparent;}


div.span5#shared_playlist {padding-top: 1%;
                           height: 400px;
}

p.lead {border-bottom: solid 1px #88b2FD}


input#name {width: 100%;}

input#search_track {width: 100%;}

h4#track_name{float: left;
							padding-right: 2%;
}

div#remove_button{;}

textarea#description {width: 100%;
 											padding-bottom: 10%;
}

#new_playlist_btn {width: 100%;
                   padding-top: 5%;}

#votes{text-align: right;}
#new_playlist_name{float:left;
}


											
#vote{float:left;}

#vote_count{text-align:right;}

h2#new_playlist_name {;
 									
}

h4#new_playlist_description {text-align: center}

#add{float:right;
}



