// Place all the styles related to the playlists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


div.well.new_playlist {text-align: center;}

div#search_box { float: left;
                 padding-right: 10%;
}

div.span5#search_well{padding-top: 1%;
 										  height: 400px;
}

div.span5#shared_playlist {padding-top: 1%;
                           height: 400px;
                           
}

p.lead {border-bottom: solid 1px #88b2FD}


input#name {width: 100%;}

textarea#description {width: 100%;
 											padding-bottom: 10%;
}

div#new_playlist_btn {padding-left: 25%;
                      padding-top: 5%;}

input#new_playlist_btn.btn {padding-left: 10%;
                            padding-right: 10%;
}

#add_songs {height:400px;
            overflow: scroll;
}

h2#new_playlist_name {text-align: center;
 									
}

h4#new_playlist_description {text-align: center}

div.search_results {float:right;
                    padding-right:20%;
}



