// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

a:hover {text-decoration: none;}

div#user-widget.span4 {padding-top: 3%;
}

div.control_panel {padding-left: 37%;
                   padding-bottom:7%;
}

div#sign_in.well {padding: 10%;
                  text-align: center;
}

div#signed_in.well {padding: 5%;
                    text-align: center;

}









