// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//


/*Sass variables and mixins */
$delete_red: red;
$dark_title: #CAD0D5;
$shadow:  0 0 8px rgba(0, 0, 0, .8);
$lighter_shadow: 0 0 4px(darken($dark_title, 30%));
$shadow_light: 0 1px 2px rgba(0, 0, 0, .8);
@mixin box-shadow($specs) {
  -webkit-box-shadow: $specs;
     -moz-box-shadow: $specs;
          box-shadow: $specs;
}
.badge{background-color: transparent;
       color: $dark_title;
       padding: 2px;
       border-radius: 5px;
       border: solid 1px #efefef;
}

/*body padding, backgrounds and page wide styles*/

.navbar-default{background-color: white;}

a:hover {text-decoration: none;
         color:#333333;
       }

div.well{background-color: white; }

//playlist_search_form

/*graph*/

#graph_pad{padding-bottom: 5px;}

#simple_success{height: 25px;
                background-color: $dark_title;
}

#dependability{height: 25px;
               background-color: darken($dark_title, 15%);

}

#outstanding{height: 25px;
             background-color: darken($dark_title, 30%);

}


/*specs*/
#specs_wrapper {padding-bottom: 30px;}

/*playlist dashboard*/

#playlist_row {height: 100%;}

#pl_title {font-size: 20px; 
           color: $dark_title;
}

li {list-style-type: none;}
.pl_link {color: darken($dark_title, 30%);
          text-decoration: none
}
#pl_opt_wrap{padding-left: 10px; 
}
#new_pl_link {color: $dark_title;}
#new_pl_link:hover {color: black;}
.pl_link:hover {color: black;}

#playlist_panel{padding:5%;}

#new_playlist {padding-bottom: 20px;}

#playlist_title {padding-right: 20px;}

/*friends dashboard*/

#user_title {font-size: 20px;
             color: $dark_title;
             padding-bottom: 10px;
}

#partial_fr_title {color: $dark_title;
                   border-bottom: solid 1px #efefef
}

#fr_name{padding-top: 15px;
}
#fr_image {padding: 10px;}
#rm_friend_glyph {padding: 18px 0 0 10px;}
#add_fr_gp_link {padding: 18px 0 0 200px;}


#friends_search_form{width: 300px;}
#search_form_wrapper{width: 300px;
                     height: 100%;
                     border-left: solid 1px #efefef;
                     padding: 10px 0 0 10px;
}

#friends {color: darken($dark_title, 30%);}
#not_friends {color: darken($dark_title, 30%);}
#not_fr_image{width: 50px; }
#not_fr_name {padding-bottom: 5px;}

#fr_title {font-size: 20px;

           color: $dark_title;
           padding-top: 10px;
}

#fr_name {color: darken($dark_title, 30%)}
#fr_name:hover {color: black;}
#new_fr_link {color: $dark_title; }
#new_fr_link:hover {color: black;}

#friends_row {height: 100%;}

#friend_panel{padding:5%;}

#new_friend {padding-bottom: 20px;}

#friend_image {width: 40px;
               @include box-shadow($shadow);
}

/* sign_in page*/

.raccoon {padding-bottom:5%;
}



img#raccoon_image.img-circle{width: 100px;
                             box-shadow: 0 0 8px rgba(0, 0, 0, .8);
                             -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
                             -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);

}

div#sign_in.well {padding: 10%;
                  text-align: center;
}
