// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*Sass variables and mixins */
$delete_red: red;
$light_title: #CAD0D5;
$dark_title: darken($light_title, 30%);
$shadow:  0 0 8px rgba(0, 0, 0, .8);
$lighter_shadow: 0 0 4px($dark_title );
$shadow_light: 0 1px 2px rgba(0, 0, 0, .8);
@mixin box-shadow($specs) {
  -webkit-box-shadow: $specs;
     -moz-box-shadow: $specs;
          box-shadow: $specs;
}

/*graph*/
#graph_pad{padding-bottom: 5px;}

#simple_success{height: 25px;
                background-color: $light_title;
}

#dependability{height: 25px;
               background-color: darken($light_title, 15%);

}

#outstanding{height: 25px;
             background-color: $dark_title ;

}




