// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



div.span5#all_users{padding-top:3%}
h2#users_title {float: left;}
h3#users_count {text-align:right}
h4#user {float: left;}

div.span5#all_friends{padding-top:3%}
h2#your_friends{float: left;}
h3#friends_count{text-align: right;}

a#add_friend_link {float:right;}
a#remove_friend_link {float: right;}

div.span4#all_friends { padding-top: 14%;}

#buddy_image {padding-left: 37%;
              padding-bottom: 40%;
}

#buddy_name_title{float:left;
									color: #929999;
}

#friends_playlist{float:left;}
#friends_tracks{text-align: right;
								color:#929999;
}

#buddy_name{float:left;}
#buddy_track_count{text-align:right;}


