    <div class="modal fade" id="album_info" role="dialog" 
      aria-labelledby="album_title"
      aria-hidden='true'>
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="lead">
          </div>
          <div class="modal-header">
            <button type="button" class="close" 
              data-dismiss="modal" aria-hidden="true">
              &times;
            </button>
            <h4 class="modal-title" id="album_title">
              <!--album name -->
              <%=@album['name']%>
            </h4>
          </div>
          <div class="modal-body">
            <h4 id="release"><!--artist and release date--></h4>
              <div id= "album_big">
                <!--album cover -->
              <%=image_tag "", :id => "album_cover"%>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">
              Close
            </button>
          </div>
        </div><!--/.modal-content-->
      </div><!-- /.modal-dialog -->
    </div><!-- //modal-->
