<div id="carousel-example-generic" class="carousel slide" data-ride="carousel"
  data-interval=20000 data-pause="hover">
    <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <div id= "heavy_rotation">
        <% x = 0 %>
        <% 20.times do %>
          <%=link_to image_tag(@heavy_rotation[x]['icon'], {id: 'carousel_image'}), 
            playlist_path(@playlist, artist_key: @heavy_rotation[x]['artistKey']),
            remote: true %>
          <% x += 1 %>
        <%end%>
      </div>
    </div>
    <div class="item">
      <div id= "heavy_rotation">
        <% x = 20 %>
        <% 20.times do %>
        <%= link_to image_tag(@heavy_rotation[x]['icon'], id: 'carousel_image'), 
        playlist_path(@playlist, artist_key: "#{@heavy_rotation[x]['artistKey']}"),
        'id' => 'carousel_image', remote: true%>
        <% x += 1 %>
        <%end%>
      </div>
    </div>
  </div>
</div>
