<div id="freq">
  <div id="sound"></div>
  <div id="sound"></div>
  <div id="sound"></div>
  <div id="sound"></div>
  <div id="sound"></div>
  <div id="sound"></div>
  <div id="sound"></div>
  <div id="sound"></div>
  <div id="sound"></div>
  <div id="sound"></div>
  <div id="sound"></div>
</div>
<div id="freq_wrapper">
  <div id="freq2">
    <div id="sound2"></div>
    <div id="sound2"></div>
    <div id="sound2"></div>
    <div id="sound2"></div>
    <div id="sound2"></div>
    <div id="sound2"></div>
    <div id="sound2"></div>
    <div id="sound2"></div>
    <div id="sound2"></div>
    <div id="sound2"></div>
    <div id="sound2"></div>
  </div>
</div>
