<div id="freq">
  <div id = "fade_sound">
    <div id="sound"></div>
    <div id="sound"></div>
  </div>
  <div id = "fade_sound2">
    <div id="sound"></div>
    <div id="sound"></div>
  </div>
  <div id = "fade_sound3">
    <div id="sound"></div>
    <div id="sound"></div>
  </div>
  <div id="sound"></div>
  <div id="sound"></div>
  <div id="sound"></div>
  <div id="sound"></div>
  <div id="sound"></div>
  <div id="sound"></div>
  <div id="sound"></div>
  <div id="sound"></div>
  <div id="sound"></div>
  <div id="sound"></div>
  <div id="sound"></div>
  <div id="sound"></div>
  <div id="sound"></div>
  <div id="sound"></div>
  <div id="sound"></div>
  <div id = "fade_sound3">
    <div id="sound"></div>
    <div id="sound"></div>
  </div>
  <div id = "fade_sound2">
    <div id="sound"></div>
    <div id="sound"></div>
  </div>
  <div id = "fade_sound">
    <div id="sound"></div>
    <div id="sound"></div>
  </div>
</div>
<div id="freq2">
  <div id = "fade_sound">
    <div id="sound2"></div>
    <div id="sound2"></div>
  </div>
  <div id = "fade_sound2">
    <div id="sound2"></div>
    <div id="sound2"></div>
  </div>
  <div id = "fade_sound3">
    <div id="sound2"></div>
    <div id="sound2"></div>
  </div>
  <div id="sound2"></div>
  <div id="sound2"></div>
  <div id="sound2"></div>
  <div id="sound2"></div>
  <div id="sound2"></div>
  <div id="sound2"></div>
  <div id="sound2"></div>
  <div id="sound2"></div>
  <div id="sound2"></div>
  <div id="sound2"></div>
  <div id="sound2"></div>
  <div id="sound2"></div>
  <div id="sound2"></div>
  <div id="sound2"></div>
  <div id="sound2"></div>
  <div id = "fade_sound3">
    <div id="sound2"></div>
    <div id="sound2"></div>
  </div>
  <div id = "fade_sound2">
    <div id="sound2"></div>
    <div id="sound2"></div>
  </div>
   <div id = "fade_sound">
    <div id="sound2"></div>
    <div id="sound2"></div>
  </div>
</div>
