<%=form_tag(playlists_search_result_path, method: 'get', remote: true) do%>
  <div class= "input-group" >
    <div class="input-group-btn">
      <button class="btn btn-default" type="submit" name="commit" tabindex= -1>
        Search
      </button>
      <button type= "button" class="btn btn-default dropdown-toggle"
        data-toggle="dropdown" tabindex= "-1">
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <ul id="radio_hover">
          <li class="radio"> 
          <label>
            <input type="radio" 
              name="search_type"  id="option_track"
              value="Track" checked>
              Track
          <label>
          </li>
        </ul>
        <ul id="radio_hover">
          <li class="radio">
            <label>
              <input type="radio" name="search_type"  id="option_artist"
                value="Artist">
                Artist
            </label>
          </li>
        </ul>
        <ul id="radio_hover">
          <li class="radio">
            <label>
              <input type="radio" name="search_type"  id="option_album"
                value="Album">
                Album
              </label>
          </li>
        </ul>
      </ul>
    </div>
    <input name="query" id="query" type="text" placeholder="track name" 
    class="form-control" >
  </div>
<%end%>

