<a data-remote= "true" 
  href = <%= sessions_my_playlist_path(playlist: playlist)%> id = "thumbnail">
  <div id = "pl_thumb_wrapper">
    <li id = "pl_thumb_name"><%= playlist.name.titleize %></li>
    <% playlist.tracks.inject(1) do |index, track| %>
      <li id = "tr_thumb_name">
      <%="#{index}. " + /(.{20}|.{15}|.{10}|.{5})/.match(track.name).to_s%>...
      </li> 
      <%index + 1 %>
    <% end %>
  </div>
</a>
