<div class="playlists_pg" id="current_page"></div>
<div id="white_top">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3>
          <div class="pull-left" id="my_playlists_title">
            My Playlists
          </div>
          <div class="lead" id="playlists_count">
            Total:
            <%=current_user.playlists.count%>
          </div>
        </h3>
        <% current_user.playlists.each do |playlist| %>
          <div class="well"> 
            <h4><%=link_to playlist.name, 
              user_playlist_path(current_user, playlist)%></h4>
            <%=link_to "Delete", user_playlist_path(current_user, playlist),  
              method: :delete, 'class' => 'btn btn-danger' %> 
          </div>
        <%end%>
      </div>
    </div>
  </div>
</div>
<div id="colored_body">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3>
          <div class="pull-left" id="collab_playlists_title">
            Collaborated Playlist
          </div>
        </h3>
    </div>
  </div>
</div>
