<div class="col-md-8", id= "my_playlist">
  <div class="panel panel-default" style="padding:5%;">
    <div class="pull-right">
      <button onclick= <%="jukebox('#{playlist[:key]}')"%> 
        class="btn btn-default btn-lg">
        <span class="glyphicon glyphicon-play"></span>
      </button> 
    </div>
    <h3>
      <%=playlist.name.titleize%>
    </h3>
     <% playlist.tracks.each do |track|%>
       <%= sync partial: 'track', resource: track %>
     <%end%>
  </div>
</div>
